transformers
datasets
clearml
loguru
langchain
langchain-openai
selenium
langchain-community
openai
pydantic
pydantic-settings
numpy
pandas
sentence-transformers
qdrant-client
chromedriver-autoinstaller
pymongo
huggingface-hub
tqdm
vllm
bs4
yt-dlp
youtube-transcript-api
typing_extensions
scikit-learn
tiktoken
langchain-core
unsloth
trl